@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Primary-Red: #ea5353;
  --Primary-Cyan: #45d3d3;
  --Primary-Orange: #fcaf4a;
  --Primary-Blue: #549ef2;

  --Neutral-Very-Dark-Blue: #4c4e61;
  --Neutral-Grayish-Blue: #a3a5ae;
  --Neutral-Very-Light-Gray: #fafafa;

  --fs-body: 0.938rem;
  --fs-heading: 2.15rem;
  --ff: "Poppins", sans-serif;
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
}

img {
  height: 40px;
  width: 40px;
}

h1 {
  line-height: 1.1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 14px;
  text-align: center;
  font-weight: var(--fw-400);
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: var(--ff);
  font-size: var(--fs-body);
  font-weight: var(--fw-200);
}

.wrapper {
  max-width: 70em;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Neutral-Very-Light-Gray);
  margin-inline: auto;
}

.container {
  margin-top: 2rem;
}

.header {
  width: 50%;
  margin-inline: auto;
  text-align: center;
  line-height: 1.5;
}
.heading {
  color: var(--Neutral-Grayish-Blue);
  font-size: var(--fs-heading);
  font-weight: var(--fw-200);
  font-family: var(--ff);
}

.sub-heading {
  color: var(--Neutral-Very-Dark-Blue);
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  font-family: var(--ff);
}
.header p {
  color: var(--Neutral-Grayish-Blue);
  font-weight: var(--fw-200);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 1rem;
}
.down {
  transform: translateY(50%);
}
.card {
  height: 12rem;
  width: 18rem;
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
  box-shadow: 0px 7px 10px #a3a5ae;
  border-radius: 0.8rem;
  background-color: white;
}

.card h3 {
  color: var(--Neutral-Very-Dark-Blue);
  font-size: 1.15rem;
  font-weight: var(--fw-600);
  line-height: 1.5;
}

.card p {
  color: var(--Neutral-Grayish-Blue);
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
  padding-top: 10px;
}
.card-img {
  margin-top: 1.25rem;
}
.card-img img {
  display: block;
  margin-left: auto;
}

.cards .card:nth-child(1) {
  border-top: 4px solid var(--Primary-Cyan);
}
.cards .card:nth-child(2) {
  border-top: 4px solid var(--Primary-Red);
}
.cards .card:nth-child(3) {
  border-top: 4px solid var(--Primary-Blue);
}
.cards .card:nth-child(4) {
  border-top: 4px solid var(--Primary-Orange);
}

@media (min-width: 350px) and (max-width: 650px) {
  .wrapper {
    min-height: 100dvh;
  }
  .container {
    width: 100%;
    padding: 20px;
  }
  .header {
    width: 80%;
  }
  .heading {
    font-size: 18px;
  }
  .sub-heading {
    font-size: 20px;
  }
  .header p {
    font-size: 14px;
    margin-top: 1rem;
  }
  .cards {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.2rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .down {
    transform: translateY(0%);
  }
  .card {
    height: 12rem;
  }
  .card h3 {
    font-size: 18px;
  }
  .attribution {
    font-size: 11px;
    font-weight: var(--fw-400);
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .wrapper {
    min-height: 100dvh;
  }
  .container {
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .header {
    width: 80%;
  }
  .heading {
    font-size: 18px;
  }
  .sub-heading {
    font-size: 20px;
  }
  .header p {
    font-size: 14px;
    margin-top: 1rem;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-top: 2rem;
  }
  .down {
    transform: translateY(0%);
  }
  .card {
    height: 12rem;
  }
  .card h3 {
    font-size: 18px;
  }
}
